@font-face {
    font-family: "fe-chiaro";
    src: url(font.otf);
}

*{
    line-height: 40px;
    font-size: 25px;
    font-family: "fe-chiaro", sans-serif;
 }

 body{
   background-image: url("./img/bg.png");
   background-attachment: fixed;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: 100% 81%;
 }

 #title{
   font-size: 35px;
   text-align: center;
   width: 100%;
 }

 .chapter{
   display:none;
   margin: 30vh auto 0 auto;
   background-color:rgba(255,255,255,0.5);
   width:min-content;
   padding: 15px;
   border-radius: 12px;
 }

 .chapter > h2{
   text-align: center;
 }
 
 nav{
    position: fixed;
    top:-4px;
    left: -25px;
    background-image:url("./img/text-box.png");
    background-size: 200% 200%;
    background-position:center;
    background-repeat: no-repeat;
    z-index: 3;
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    font-size: 14px;
    text-align: left;
    width: 100%;
 }

 

 a{
   text-decoration: none;
   font-weight: bold;
   color: rgb(236, 70, 65);
 }

 footer{
   background-image: url('./img/text-box.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   width:max-content;
   margin: auto;
   padding: 3vh;
 }
  footer > *{
    font-size:25px;
    text-align: center;
  }
 #left-side, #avatar-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
 }

 #left-side > p{
  line-height: 30px;
}

#chapters option{
  color: white;
}

 #avatar-content{
   font-size: 20px;
   padding-top: 1vh;
 }

 #avatar-stats{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }

 #avatar-gender{
   padding-left: 1vh;
 }

 #chapter-select{
   padding-top: 30px;
 }

 /* #chapter-select > *{
  font-size: 20px;
 } */

 #chapters, #current-avatar-name{
   border-radius: 7px;
   background-color: rgba(0,0,0,0.05);
 }

 #avatar-name-comment{
   font-size: 25px;
 }

 
.new-text-box{
    position: relative;
    width: 600px;
    height: 120px;
    margin-top: 80px;
    text-align: center;
  }
  
  .new-text-box-dialogue{
    position: absolute;
    top: 25px;
    left: 20px;
    width: 560px;
    text-align: left;
    
  }
  
  .new-text-box:after{
    position: absolute;
    bottom: 0px;
    right: 20px;
    content:"▼";
    animation-name: next-dialogue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes next-dialogue{
    0%{
      bottom: 0px;
      filter: opacity(0.5);
    }
    50%{
      bottom: 3px;
      filter: opacity(1);
    }
    100%{
      bottom: 0px;
      filter: opacity(0.5);
    }
  }
  
  .new-who-is-speaking{
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 80px;
    width: 200px;
    height: 40px;
    text-align: center;
    color: white;
    
    background-color: #152f22;
    border: 2px solid #5f5102;
  }
  
  .new-who-is-speaking:before, .new-who-is-speaking:after{
    content:"◀▶";
    color: #c6a90d;
    position: absolute;
    font-size: 50px;
    transform: scale(0.6, 1);
    top: 0;
    letter-spacing: -10px;
    
  }
  
  .new-who-is-speaking:before{
    left: -37px;
  }
  .new-who-is-speaking:after{
    right: -30px;
  }

  @media screen and (max-width: 1200px) {
    .chapter{
      margin-top: 40vh;
    }
  }

  
 @media screen and (max-width: 768px) {
  nav{
   width: 100%;
   left: -13px;

   background-size: 98% 100%;
   background-position: left;
  }
  nav > div{
    width: 100%;
    padding-inline: 1vh;
  }

  body{
    margin: 0 auto;
    background-position: bottom;
    background-position-x: center;
    background-size: 170% 70%;
    overflow-x: hidden;
  }

  #chapter-select, #avatar-content, #avatar-stats{
    width: 100%;
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #chapter-select{
    justify-content: space-around;
  }

  #avatar-name{
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #avatar-gender{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #avatar-gender > *{
    font-size: 40px;
    
  }

  #avatar-gender > input[type=radio]{
    border: 0px;
    width: 100%;
    height: 3vh;
  }

  #avatar-name-comment{
    line-height: 25px;
    text-align: center;
  }

  .chapter{
    width: 100%;
    height: 100%;
    padding: 5vh 0;
    margin: 0 auto;
    margin-top: 35vh;
    background-color: rgba(0,0,0,0.4);
  }

  .chapter > h2{
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 30px;
    font-family: 'fe-chiaro';
    text-align: center;
  }

  .new-text-box{
    margin-inline: auto;
  }

  .new-text-box{
    max-width: 100%;
  }

  footer{
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 600px) {
  body{
    margin: 0 auto;
    background-position: bottom;
  }

  nav{
    max-height: 40%;
  }

  #title{
    font-size: 30px;
    line-height: 30px;
  }

  #avatar-stats{
    flex-direction: column;
  }

  .chapter{
    margin-top: 40vh;
  }

  #current-avatar-name{
    margin-left: 5vh;
  }

  #avatar-gender{
    padding-top: 1vh;
    width: 50%;
  }
  #avatar-gender > input[type=radio]{
    border: 0px;
    width: 100%;
    height: 2vh;
  }
  footer{
    background-size: 90%;
    padding-inline: 5vh;
  }

  footer > * {
    font-size: 20px;
  }
}