@font-face {
    font-family: "fe-chiaro";
    src: url(font.otf);
}

*{
    line-height: 40px;
    font-size: 25px;
    font-family: "fe-chiaro", sans-serif;
 }

 body{
   background-image: url("./img/background.png");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100%;
 }

 .chapter{
   display:none;
   margin: 20vh auto 0 auto;
   background-color:rgba(255,255,255,0.5);
   width:min-content;
   padding: 15px;
   border-radius: 12px;
 }
 nav{
    position: fixed;
    top:-4px;
    left: -10px;
    background-image:url("./img/text-box.png");
    background-size: 100% 170px;
    background-position:center;
    background-repeat: no-repeat;
    z-index: 3;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    font-size: 14px;
    text-align: left;
    width: 100%;

    
 }

  
 #left-side, #avatar-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }

 #chapter-select{
   padding-top: 30px;
   
 }

 #chapter-select > *{
  font-size: 20px;
 }

 #avatar-name-comment{
   font-size: 20px;
 }

 
.new-text-box{
    position: relative;
    width: 600px;
    height: 120px;
    margin-top: 80px;
    text-align: center;
  }
  
  .new-text-box-dialogue{
    position: absolute;
    top: 25px;
    left: 20px;
    width: 560px;
    text-align: left;
    
  }
  
  .new-text-box:after{
    position: absolute;
    bottom: 0px;
    right: 20px;
    content:"▼";
    animation-name: next-dialogue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes next-dialogue{
    0%{
      bottom: 0px;
      filter: opacity(0.5);
    }
    50%{
      bottom: 3px;
      filter: opacity(1);
    }
    100%{
      bottom: 0px;
      filter: opacity(0.5);
    }
  }
  
  .new-who-is-speaking{
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 80px;
    width: 200px;
    height: 40px;
    text-align: center;
    color: white;
    
    background-color: #152f22;
    border: 2px solid #5f5102;
  }
  
  .new-who-is-speaking:before, .new-who-is-speaking:after{
    content:"◀▶";
    color: #c6a90d;
    position: absolute;
    font-size: 50px;
    transform: scale(0.6, 1);
    top: 0;
    letter-spacing: -10px;
    
  }
  
  .new-who-is-speaking:before{
    left: -37px;
  }
  .new-who-is-speaking:after{
    right: -30px;
  }